server:
  port: 8085

spring:
  application:
    name: marketplace-service
  profiles:
    # Default profile is local; override with -Dspring.profiles.active=rds for RDS
    default: local
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.marketplace: DEBUG
